# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# sensitive
credentials.txt
setup_production_chedentials.sh
setup_test_credentials.sh

# pyenv
.python-version

# Environments
venv/

# temp test files
temp_test*
