# hello mac users
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# sensitive
*_credentials.sh
export_*.sh
setup_*.sh

# pyenv
.python-version

# Environments
venv/

setup_production_credentials.sh

# temp test files
temp_test*
processed

# data in s3 simulation
local/aws/

# all terraform files created on init
terraform/.terraform/
terraform/.terraform.lock.hcl
